x-common: &common
  build: .
  image: ruan.sh:latest
  volumes:
    - .:/app

services:
  client:
    <<: *common
    container_name: client
    command: sh -c 'pnpm install && pnpm vite --host 0.0.0.0'
    ports:
      - 5173:5173

  build:
    <<: *common
    container_name: build
    command: sh -c 'pnpm install && pnpm build'

  prod:
    <<: *common
    container_name: prod
    command: sh -c 'pnpm install && pnpm build && pnpm preview --host 0.0.0.0'
    ports:
      - 4173:4173
