x-common: &common
  build: .
  volumes:
    - .:/app

services:
  client:
    <<: *common
    container_name: client
    command: sh -c 'pnpm install && pnpm vite --host 0.0.0.0'
    ports:
      - 5173:5173

  build:
    <<: *common
    container_name: build
    command: sh -c 'pnpm install && pnpm build'
