x-common: &common
  image: node:22-alpine
  working_dir: /app
  volumes:
    - .:/app

services:
  client:
    <<: *common
    container_name: client
    command: sh -c 'yarn install && yarn vite --host 0.0.0.0'
    ports:
      - 5173:5173

  build:
    <<: *common
    container_name: build
    command: sh -c 'yarn install && yarn build'
