@import 'tailwindcss';

@theme {
  --color-black: #000;
  --color-white: #fff;
}

* {
  @apply antialiased;
}

body {
  @apply bg-black text-white;
}

.shell {
  @apply mx-auto max-w-4xl px-3 sm:px-6;
}
